---
import { Image } from 'astro:assets'
import heroArrowTablet from '../../assets/arrows/arrow-hero-laptop.svg'
---

<!-- Start Hero Section -->
<section
    id="heroSection"
    class="relative min-h-screen bg-[#09090B] px-4 py-8 sm:px-8 sm:py-16 lg:px-16 lg:py-20 xl:px-20 xl:py-24"
>
    <!-- Mobile arrow -->
    <svg
        id="hero-arrow-mobile"
        class="absolute -top-8 left-24 -rotate-12 md:hidden"
        width="143"
        height="184"
        viewBox="0 0 143 184"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            fill="url(#paint0_linear_24_634)"
            d="M76.3101 111.312L77.8086 111.377L76.3101 111.312ZM0.276478 183.715L3.41763 166.681L16.5983 177.918L0.276478 183.715ZM142.152 -11.0125C142.002 -9.99108 141.85 -8.98446 141.697 -7.99238L138.732 -8.45011C138.884 -9.43519 139.035 -10.4349 139.184 -11.4496L142.152 -11.0125ZM140.762 -2.2126C140.424 -0.222903 140.081 1.70299 139.732 3.56717L136.783 3.01535C137.129 1.16866 137.469 -0.740415 137.804 -2.71403L140.762 -2.2126ZM138.608 9.26883C138.19 11.2823 137.765 13.2159 137.333 15.0731L134.411 14.3932C134.838 12.5605 135.258 10.6503 135.671 8.65897L138.608 9.26883ZM135.941 20.7058C135.42 22.6918 134.889 24.5783 134.35 26.3706L131.477 25.507C132.005 23.7505 132.526 21.898 133.039 19.9438L135.941 20.7058ZM132.515 32.0292C131.822 34.0073 131.117 35.8491 130.4 37.5645L127.632 36.4083C128.324 34.7512 129.009 32.9644 129.684 31.0371L132.515 32.0292ZM127.906 42.9566C126.923 44.8668 125.922 46.5766 124.904 48.1078L122.406 46.4469C123.356 45.0175 124.302 43.4052 125.238 41.5843L127.906 42.9566ZM121.164 52.8942C119.644 54.5273 118.098 55.8413 116.534 56.9031L114.849 54.4212C116.218 53.4913 117.594 52.326 118.968 50.8503L121.164 52.8942ZM110.99 59.7006C108.967 60.4168 106.972 60.8394 105.049 61.1378L104.589 58.1732C106.401 57.8921 108.2 57.5059 109.989 56.8725L110.99 59.7006ZM99.2106 61.8622C97.2591 62.1047 95.4564 62.3983 93.7677 62.9354L92.8584 60.0765C94.8172 59.4535 96.8412 59.1335 98.8406 58.8851L99.2106 61.8622ZM89.1556 65.3828C87.9561 66.3634 86.8015 67.6598 85.714 69.4101L83.1658 67.8268C84.4089 65.8261 85.7755 64.2712 87.2568 63.0602L89.1556 65.3828ZM83.307 74.39C82.7087 75.9606 82.1448 77.7425 81.6207 79.7666L78.7165 79.0147C79.264 76.9 79.8602 75.0108 80.5035 73.3221L83.307 74.39ZM80.3959 85.3555C80.071 87.1101 79.7694 88.9996 79.4927 91.0347L76.5201 90.6306C76.8025 88.553 77.1115 86.6159 77.446 84.8092L80.3959 85.3555ZM78.8175 96.7915C78.6312 98.6467 78.462 100.602 78.3109 102.663L75.3189 102.443C75.4719 100.358 75.6433 98.3756 75.8326 96.4916L78.8175 96.7915ZM77.9545 108.346C77.9023 109.335 77.8536 110.345 77.8086 111.377L74.8115 111.247C74.8568 110.206 74.9059 109.186 74.9587 108.188L77.9545 108.346ZM77.8086 111.377C77.7621 112.446 77.659 113.493 77.502 114.52L74.5365 114.066C74.677 113.147 74.7696 112.208 74.8115 111.247L77.8086 111.377ZM75.8703 120.607C75.1158 122.549 74.1611 124.406 73.0353 126.19L70.4981 124.589C71.5309 122.952 72.3954 121.267 73.0739 119.52L75.8703 120.607ZM69.327 131.162C68.019 132.679 66.5894 134.149 65.0594 135.581L63.009 133.391C64.473 132.02 65.8265 130.628 67.0548 129.203L69.327 131.162ZM60.4495 139.569C58.908 140.812 57.2969 142.035 55.631 143.246L53.8668 140.82C55.5003 139.632 57.0708 138.44 58.5667 137.234L60.4495 139.569ZM50.6873 146.713C49.0521 147.825 47.3789 148.933 45.6797 150.045L44.0372 147.535C45.7271 146.429 47.3847 145.33 49.0008 144.232L50.6873 146.713ZM40.652 153.307C38.9887 154.38 37.3122 155.461 35.6278 156.557L33.9915 154.043C35.6816 152.943 37.3638 151.859 39.0249 150.786L40.652 153.307ZM30.6443 159.84C28.9993 160.94 27.3576 162.059 25.727 163.2L24.0069 160.742C25.6581 159.586 27.3177 158.456 28.9764 157.347L30.6443 159.84ZM20.9059 166.675C19.3204 167.856 17.7545 169.064 16.2162 170.303L14.334 167.967C15.9053 166.701 17.5016 165.47 19.114 164.269L20.9059 166.675ZM11.6952 174.119C10.2206 175.426 8.78193 176.769 7.38718 178.152L5.27432 176.023C6.71221 174.596 8.19214 173.215 9.70531 171.874L11.6952 174.119Z"
        >
        </path>
        <defs>
            <linearGradient
                id="paint0_linear_24_634"
                x1="14.261"
                y1="0.684769"
                x2="29.8865"
                y2="181.151"
                gradientUnits="userSpaceOnUse"
            >
                <stop stop-color="#FED7AA" stop-opacity="0"></stop>
                <stop offset="1" stop-color="#FED7AA"></stop>
            </linearGradient>
        </defs>
    </svg>

    <!-- End Mobile arrow -->
    <!-- after Tablet arrow -->
    <svg
        class="hidden -rotate-12 md:absolute md:-top-8 md:left-24 md:block md:rotate-[355deg] xl:-top-12 xl:left-[22rem] xl:scale-150"
        width="354"
        id="hero-arrow-tablet"
        height="247"
        viewBox="0 0 354 247"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M184.273 149.589L182.815 149.234L184.273 149.589ZM8.51171 246.739L0.436341 231.416L17.744 232.084L8.51171 246.739ZM353.879 -34.6653C353.507 -33.6778 353.135 -32.6993 352.765 -31.7296L349.962 -32.8007C350.331 -33.7659 350.701 -34.74 351.071 -35.723L353.879 -34.6653ZM350.549 -26.0165C349.813 -24.147 349.08 -22.3122 348.349 -20.5114L345.569 -21.6392C346.296 -23.4302 347.025 -25.2553 347.757 -27.1154L350.549 -26.0165ZM346.121 -15.1052C345.309 -13.1654 344.5 -11.2673 343.694 -9.41027L340.942 -10.6043C341.743 -12.4493 342.546 -14.3355 343.354 -16.2639L346.121 -15.1052ZM341.287 -3.96106C340.468 -2.14188 339.653 -0.364725 338.841 1.37137L336.124 0.100551C336.929 -1.62197 337.739 -3.38585 338.551 -5.19209L341.287 -3.96106ZM336.179 6.94405C335.295 8.75295 334.415 10.5136 333.54 12.2273L330.868 10.8622C331.735 9.165 332.607 7.42048 333.483 5.62729L336.179 6.94405ZM330.738 17.5746C329.759 19.3981 328.784 21.1635 327.814 22.8726L325.205 21.3918C326.163 19.7036 327.127 17.9585 328.096 16.1547L330.738 17.5746ZM324.838 27.9663C323.749 29.7739 322.667 31.5116 321.591 33.1822L319.069 31.5575C320.128 29.9135 321.194 28.2016 322.267 26.4191L324.838 27.9663ZM318.318 38.0843C317.11 39.8283 315.909 41.4893 314.715 43.0711L312.321 41.2639C313.489 39.7159 314.666 38.0879 315.852 36.3759L318.318 38.0843ZM311.001 47.7687C309.663 49.3808 308.334 50.8963 307.013 52.3205L304.813 50.2806C306.095 48.8985 307.388 47.4245 308.692 45.8527L311.001 47.7687ZM302.709 56.6742C301.182 58.1172 299.667 59.4432 298.163 60.6611L296.275 58.3294C297.717 57.1618 299.175 55.8866 300.648 54.4941L302.709 56.6742ZM293.298 64.2583C291.522 65.4493 289.761 66.4978 288.016 67.4192L286.616 64.7663C288.266 63.8948 289.936 62.9003 291.627 61.7665L293.298 64.2583ZM282.417 69.979C280.442 70.746 278.491 71.3647 276.563 71.8601L275.816 68.9545C277.633 68.4876 279.471 67.9049 281.331 67.1825L282.417 69.979ZM270.542 73.0454C268.48 73.3344 266.448 73.5062 264.449 73.5952L264.315 70.5982C266.234 70.5128 268.17 70.3485 270.126 70.0744L270.542 73.0454ZM258.361 73.6433C256.316 73.5949 254.304 73.493 252.33 73.3773L252.505 70.3824C254.466 70.4973 256.438 70.5969 258.432 70.6441L258.361 73.6433ZM246.365 73.019C244.36 72.9097 242.397 72.8286 240.467 72.8186L240.483 69.8187C242.483 69.829 244.501 69.9129 246.528 70.0235L246.365 73.019ZM234.651 73.0562C232.73 73.2415 230.847 73.5481 228.996 74.0207L228.254 71.1139C230.277 70.5975 232.314 70.2678 234.363 70.0701L234.651 73.0562ZM223.65 75.9259C222.004 76.6966 220.371 77.6477 218.75 78.8179L216.994 76.3855C218.767 75.106 220.561 74.0596 222.378 73.209L223.65 75.9259ZM214.392 82.5468C213.117 83.8173 211.847 85.2511 210.579 86.869L208.218 85.0193C209.554 83.3122 210.906 81.7856 212.274 80.4222L214.392 82.5468ZM207.236 91.5935C206.236 93.146 205.24 94.825 204.246 96.6404L201.615 95.2001C202.64 93.3272 203.672 91.5868 204.713 89.9699L207.236 91.5935ZM201.506 102.016C200.719 103.669 199.933 105.414 199.15 107.256L196.389 106.081C197.188 104.203 197.991 102.419 198.798 100.726L201.506 102.016ZM196.905 112.817C196.231 114.575 195.558 116.409 194.886 118.321L192.056 117.327C192.736 115.389 193.419 113.529 194.104 111.742L196.905 112.817ZM192.966 124.019C192.385 125.817 191.804 127.677 191.224 129.6L188.352 128.734C188.937 126.792 189.524 124.913 190.112 123.096L192.966 124.019ZM189.507 135.5C189.001 137.297 188.497 139.144 187.993 141.043L185.093 140.274C185.601 138.361 186.109 136.499 186.619 134.687L189.507 135.5ZM186.483 146.898C186.232 147.9 185.981 148.915 185.73 149.944L182.815 149.234C183.068 148.199 183.32 147.177 183.573 146.168L186.483 146.898ZM185.73 149.944C185.478 150.977 185.166 151.983 184.796 152.962L181.99 151.901C182.317 151.036 182.593 150.147 182.815 149.234L185.73 149.944ZM181.91 158.508C180.772 160.196 179.442 161.785 177.944 163.284L175.822 161.163C177.199 159.786 178.403 158.344 179.423 156.831L181.91 158.508ZM173.301 167.275C171.725 168.452 170.031 169.569 168.235 170.633L166.706 168.052C168.422 167.036 170.025 165.977 171.506 164.871L173.301 167.275ZM162.91 173.496C161.152 174.358 159.32 175.184 157.422 175.978L156.264 173.211C158.113 172.437 159.891 171.635 161.59 170.803L162.91 173.496ZM151.824 178.166C149.989 178.837 148.105 179.486 146.179 180.115L145.247 177.264C147.144 176.644 148.995 176.006 150.793 175.348L151.824 178.166ZM140.495 181.883C138.617 182.44 136.706 182.983 134.767 183.514L133.975 180.621C135.896 180.095 137.786 179.558 139.641 179.007L140.495 181.883ZM129.006 185.039C127.098 185.528 125.169 186.009 123.222 186.483L122.513 183.568C124.45 183.096 126.367 182.619 128.261 182.133L129.006 185.039ZM117.453 187.858C115.537 188.307 113.609 188.751 111.671 189.193L111.004 186.269C112.937 185.827 114.86 185.384 116.769 184.937L117.453 187.858ZM105.881 190.505C103.958 190.938 102.024 191.372 100.095 191.807L99.4356 188.88C101.37 188.445 103.296 188.012 105.222 187.578L105.881 190.505ZM94.3183 193.114C92.3903 193.553 90.465 193.995 88.5456 194.443L87.8643 191.521C89.7899 191.072 91.7205 190.629 93.652 190.189L94.3183 193.114ZM82.7903 195.807C80.8675 196.272 78.9548 196.743 77.0559 197.223L76.3203 194.315C78.231 193.832 80.1543 193.358 82.0861 192.891L82.7903 195.807ZM71.3294 198.713C69.4122 199.227 67.5139 199.752 65.6385 200.29L64.8107 197.407C66.7049 196.863 68.6204 196.333 70.5529 195.815L71.3294 198.713ZM59.9977 201.974C58.1054 202.563 56.2426 203.168 54.4137 203.792L53.4455 200.952C55.3023 200.319 57.191 199.706 59.1067 199.11L59.9977 201.974ZM48.8654 205.784C47.002 206.489 45.1829 207.219 43.4131 207.973L42.236 205.214C44.0469 204.442 45.9045 203.697 47.8029 202.978L48.8654 205.784ZM38.0874 210.401C36.3017 211.273 34.5806 212.177 32.9302 213.117L31.4459 210.51C33.1563 209.536 34.934 208.602 36.7714 207.705L38.0874 210.401ZM28.0019 216.178C26.3687 217.288 24.8293 218.444 23.3913 219.648L21.4651 217.348C22.9867 216.074 24.6068 214.858 26.315 213.697L28.0019 216.178ZM19.2253 223.586C17.9083 225.003 16.7193 226.481 15.6673 228.025L13.1881 226.336C14.3309 224.658 15.6155 223.063 17.028 221.543L19.2253 223.586ZM12.8914 232.946C12.1221 234.641 11.4981 236.411 11.0302 238.265L8.12137 237.531C8.63354 235.502 9.31714 233.562 10.1599 231.706L12.8914 232.946Z"
            fill="url(#paint0_linear_18_432)"></path>
        <defs>
            <linearGradient
                id="paint0_linear_18_432"
                x1="94.6715"
                y1="-55.2406"
                x2="68.8283"
                y2="251.816"
                gradientUnits="userSpaceOnUse"
            >
                <stop stop-color="#FED7AA" stop-opacity="0"></stop>
                <stop offset="1" stop-color="#FED7AA"></stop>
            </linearGradient>
        </defs>
    </svg>

    <!-- End tablet arrow -->
    <div
        id="hero-content"
        class="relative top-44 flex flex-col gap-5 xl:items-center"
    >
        <h1
            style="text-wrap: balance;"
            class="text-balance bg-gradient-to-br from-neutral-content to-neutral-content/60 bg-clip-text text-6xl/tight font-bold text-transparent md:text-[86px] xl:text-center xl:text-8xl/normal"
        >
            Paginas Web <br class="md:hidden" /> A Medida
        </h1>
        <p class="text-lg text-neutral-content md:w-3/4 xl:text-center">
            Creamos Experiencias digitales que hacen resaltar tu negocio sobre
            cualquier otro.
        </p>
        <button
            id="heroBtn"
            class="btn rounded-3xl md:w-72"
            onclick=" window.location.href = '#Beneficios-de-una-web' "
            >Saber Mas</button
        >
    </div>
</section>
<script>
    function scrollToNextsection() {
        window.location.href = '#Beneficios-de-una-web'
    }
</script>
<!-- End Hero Section -->
