---
import { Image } from 'astro:assets'
import heroArrowMobile from '../../assets/arrows/hero-arrow-mobile.svg'
import heroArrowTablet from '../../assets/arrows/arrow-hero-laptop.svg'
---

<!-- Start Hero Section -->
<section
    id="heroSection"
    class="relative min-h-screen bg-[#09090B] px-4 py-8 sm:px-8 sm:py-16 lg:px-16 lg:py-20 xl:px-20 xl:py-24"
>
    <!-- <Image
        id="hero-arrow-mobile"
        src={heroArrowMobile}
        alt="flecha hero section mobile"
        class="absolute -top-8 left-24 -rotate-12 md:hidden"
    /> -->

    <!-- TEST -->
    <svg
        id="hero-arrow-mobile"
        class="absolute -top-8 left-24 -rotate-12 md:hidden"
        width="143"
        height="184"
        viewBox="0 0 143 184"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M76.3101 111.312L77.8086 111.377L76.3101 111.312ZM0.276478 183.715L3.41763 166.681L16.5983 177.918L0.276478 183.715ZM142.152 -11.0125C142.002 -9.99108 141.85 -8.98446 141.697 -7.99238L138.732 -8.45011C138.884 -9.43519 139.035 -10.4349 139.184 -11.4496L142.152 -11.0125ZM140.762 -2.2126C140.424 -0.222903 140.081 1.70299 139.732 3.56717L136.783 3.01535C137.129 1.16866 137.469 -0.740415 137.804 -2.71403L140.762 -2.2126ZM138.608 9.26883C138.19 11.2823 137.765 13.2159 137.333 15.0731L134.411 14.3932C134.838 12.5605 135.258 10.6503 135.671 8.65897L138.608 9.26883ZM135.941 20.7058C135.42 22.6918 134.889 24.5783 134.35 26.3706L131.477 25.507C132.005 23.7505 132.526 21.898 133.039 19.9438L135.941 20.7058ZM132.515 32.0292C131.822 34.0073 131.117 35.8491 130.4 37.5645L127.632 36.4083C128.324 34.7512 129.009 32.9644 129.684 31.0371L132.515 32.0292ZM127.906 42.9566C126.923 44.8668 125.922 46.5766 124.904 48.1078L122.406 46.4469C123.356 45.0175 124.302 43.4052 125.238 41.5843L127.906 42.9566ZM121.164 52.8942C119.644 54.5273 118.098 55.8413 116.534 56.9031L114.849 54.4212C116.218 53.4913 117.594 52.326 118.968 50.8503L121.164 52.8942ZM110.99 59.7006C108.967 60.4168 106.972 60.8394 105.049 61.1378L104.589 58.1732C106.401 57.8921 108.2 57.5059 109.989 56.8725L110.99 59.7006ZM99.2106 61.8622C97.2591 62.1047 95.4564 62.3983 93.7677 62.9354L92.8584 60.0765C94.8172 59.4535 96.8412 59.1335 98.8406 58.8851L99.2106 61.8622ZM89.1556 65.3828C87.9561 66.3634 86.8015 67.6598 85.714 69.4101L83.1658 67.8268C84.4089 65.8261 85.7755 64.2712 87.2568 63.0602L89.1556 65.3828ZM83.307 74.39C82.7087 75.9606 82.1448 77.7425 81.6207 79.7666L78.7165 79.0147C79.264 76.9 79.8602 75.0108 80.5035 73.3221L83.307 74.39ZM80.3959 85.3555C80.071 87.1101 79.7694 88.9996 79.4927 91.0347L76.5201 90.6306C76.8025 88.553 77.1115 86.6159 77.446 84.8092L80.3959 85.3555ZM78.8175 96.7915C78.6312 98.6467 78.462 100.602 78.3109 102.663L75.3189 102.443C75.4719 100.358 75.6433 98.3756 75.8326 96.4916L78.8175 96.7915ZM77.9545 108.346C77.9023 109.335 77.8536 110.345 77.8086 111.377L74.8115 111.247C74.8568 110.206 74.9059 109.186 74.9587 108.188L77.9545 108.346ZM77.8086 111.377C77.7621 112.446 77.659 113.493 77.502 114.52L74.5365 114.066C74.677 113.147 74.7696 112.208 74.8115 111.247L77.8086 111.377ZM75.8703 120.607C75.1158 122.549 74.1611 124.406 73.0353 126.19L70.4981 124.589C71.5309 122.952 72.3954 121.267 73.0739 119.52L75.8703 120.607ZM69.327 131.162C68.019 132.679 66.5894 134.149 65.0594 135.581L63.009 133.391C64.473 132.02 65.8265 130.628 67.0548 129.203L69.327 131.162ZM60.4495 139.569C58.908 140.812 57.2969 142.035 55.631 143.246L53.8668 140.82C55.5003 139.632 57.0708 138.44 58.5667 137.234L60.4495 139.569ZM50.6873 146.713C49.0521 147.825 47.3789 148.933 45.6797 150.045L44.0372 147.535C45.7271 146.429 47.3847 145.33 49.0008 144.232L50.6873 146.713ZM40.652 153.307C38.9887 154.38 37.3122 155.461 35.6278 156.557L33.9915 154.043C35.6816 152.943 37.3638 151.859 39.0249 150.786L40.652 153.307ZM30.6443 159.84C28.9993 160.94 27.3576 162.059 25.727 163.2L24.0069 160.742C25.6581 159.586 27.3177 158.456 28.9764 157.347L30.6443 159.84ZM20.9059 166.675C19.3204 167.856 17.7545 169.064 16.2162 170.303L14.334 167.967C15.9053 166.701 17.5016 165.47 19.114 164.269L20.9059 166.675ZM11.6952 174.119C10.2206 175.426 8.78193 176.769 7.38718 178.152L5.27432 176.023C6.71221 174.596 8.19214 173.215 9.70531 171.874L11.6952 174.119Z"
            fill="url(#paint0_linear_24_634)"></path>
        <defs>
            <linearGradient
                id="paint0_linear_24_634"
                x1="14.261"
                y1="0.684769"
                x2="29.8865"
                y2="181.151"
                gradientUnits="userSpaceOnUse"
            >
                <stop stop-color="#FED7AA" stop-opacity="0"></stop>
                <stop offset="1" stop-color="#FED7AA"></stop>
            </linearGradient>
        </defs>
    </svg>

    <!-- END TEST -->
    <Image
        src={heroArrowTablet}
        alt="flecha hero section mobile"
        class="hidden -rotate-12 md:absolute md:-top-8 md:left-24 md:block md:rotate-[355deg] xl:-top-12 xl:left-[22rem] xl:scale-150"
    />
    <div
        id="hero-content"
        class="relative top-44 flex flex-col gap-5 xl:items-center"
    >
        <h1
            style="text-wrap: balance;"
            class="text-balance bg-gradient-to-br from-neutral-content to-neutral-content/60 bg-clip-text text-6xl/tight font-bold text-transparent md:text-[86px] xl:text-center xl:text-8xl/normal"
        >
            Paginas Web <br class="md:hidden" /> A Medida
        </h1>
        <p class="text-lg text-neutral-content md:w-3/4 xl:text-center">
            Creamos Experiencias digitales que hacen resaltar tu negocio sobre
            cualquier otro.
        </p>
        <button class="btn rounded-3xl md:w-72">Saber Mas</button>
    </div>
</section>
<!-- End Hero Section -->
