---
import { Image } from 'astro:assets'
import heroArrowMobile from '../../assets/arrows/hero-arrow-mobile.svg'
import heroArrowTablet from '../../assets/arrows/arrow-hero-laptop.svg'
---

<!-- Start Hero Section -->
<section
    id="heroSection"
    class="relative min-h-screen bg-gradient-to-br from-[#09090B] to-[#0C0A09] px-4 py-8 sm:px-8 sm:py-16 lg:px-16 lg:py-20 xl:px-20 xl:py-24"
>
    <Image
        src={heroArrowMobile}
        alt="flecha hero section mobile"
        class="absolute -top-8 left-24 -rotate-12 md:hidden"
    />
    <Image
        src={heroArrowTablet}
        alt="flecha hero section mobile"
        class="hidden -rotate-12 md:absolute md:-top-8 md:left-24 md:block md:rotate-[355deg]"
    />
    <div class="relative top-44 flex flex-col gap-5">
        <h1
            style="text-wrap: balance;"
            class="text-balance bg-gradient-to-br from-neutral-content to-neutral-content/60 bg-clip-text text-6xl/tight font-bold text-transparent md:text-[86px]"
        >
            Paginas Web <br class="md:hidden" /> A Medida
        </h1>
        <p class="text-lg text-neutral-content md:w-3/4">
            Creamos Experiencias digitales que hacen resaltar tu negocio sobre
            cualquier otro.
        </p>
        <button class="btn rounded-3xl md:w-72">Saber Mas</button>
    </div>
</section>
<!-- End Hero Section -->
