---
import Layout from '../layouts/Layout.astro'
import HeroSection from '../components/sections/heroSection.astro'
import WhyAWebSection from '../components/sections/whyAWebSection.astro'
---

<Layout title="Hermes Lab">
    <main class="w-full">
        <HeroSection />
        <WhyAWebSection />
    </main>
</Layout>
