---
import Layout from '../layouts/Layout.astro'
import HeroSection from '../components/sections/heroSection.astro'
import WhyAWebSection from '../components/sections/whyAWebSection.astro'
import AboutUsSection from '../components/sections/aboutUsSection.astro'
import OurServicesSection from '../components/sections/ourServicesSection.astro'
---

<Layout title="Hermes Lab">
    <main class="w-full">
        <HeroSection />
        <WhyAWebSection />
        <AboutUsSection />
        <OurServicesSection />
    </main>
</Layout>
