---
import Layout from '../layouts/Layout.astro'
import HeroSection from '../components/sections/heroSection.astro'
import WhyAWebSection from '../components/sections/whyAWebSection.astro'
import AboutUsSection from '../components/sections/aboutUsSection.astro'
import OurServicesSection from '../components/sections/ourServicesSection.astro'
import ContactUsSection from '../components/sections/contactUsSection.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Hermes - Agencia web digital">
    <main class="w-full">
        <HeroSection />
        <WhyAWebSection />
        <AboutUsSection />
        <OurServicesSection />
        <ContactUsSection />
        <Footer />
    </main>
</Layout>
