---
import { Image } from 'astro:assets'
import HermesLogo from '../assets/Hermes_Logo_2024.svg'
---

<footer
    class="footer rounded-t-3xl bg-base-200 px-4 py-8 text-base-content sm:px-8 sm:py-16 lg:px-16 lg:py-20"
>
    <aside class="relative md:-top-[1.3rem] lg:top-0">
        <div class="flex justify-start mix-blend-difference">
            <Image
                src={HermesLogo}
                alt="Logo Hermes, Logo de la agencia"
                class="h-16 w-fit"
            />
        </div>
        <p
            class="text-pretty pl-4 text-lg text-neutral/80"
            style="text-wrap: pretty;"
        >
            La puerta grande hacia el mundo digital.
        </p>
    </aside>
    <nav>
        <h4 class="footer-title text-2xl font-bold text-neutral opacity-80">
            Servicios
        </h4>
        <a
            class="link-hover link pl-4 text-lg underline decoration-neutral/50 underline-offset-4"
            >Landing Page</a
        >
        <a
            class="link-hover link pl-4 text-lg underline decoration-neutral/50 underline-offset-4"
            >Tienda Online</a
        >
        <a
            class="link-hover link pl-4 text-lg underline decoration-neutral/50 underline-offset-4"
            >Aplicacion Web(PWA)</a
        >
        <a
            class="link-hover link pl-4 text-lg underline decoration-neutral/50 underline-offset-4"
            >Asesoria Gratuita</a
        >
    </nav>
    <nav>
        <h4 class="footer-title text-2xl font-bold text-neutral opacity-80">
            Agencia
        </h4>
        <a
            class="link-hover link pl-4 text-lg underline decoration-neutral/50 underline-offset-4"
            >Sobre Nosotros</a
        >
        <a
            class="link-hover link pl-4 text-lg underline decoration-neutral/50 underline-offset-4"
            >Beneficios de una Web</a
        >
        <a
            class="link-hover link pl-4 text-lg underline decoration-neutral/50 underline-offset-4"
            >Nuestros Servicios</a
        >
        <a
            class="link-hover link pl-4 text-lg underline decoration-neutral/50 underline-offset-4"
            >Contacto</a
        >
    </nav>
    <nav>
        <h4 class="footer-title text-2xl font-bold text-neutral opacity-80">
            Legal
        </h4>
        <a
            class="link-hover link pl-4 text-lg underline decoration-neutral/50 underline-offset-4"
            >Politica de Cookies</a
        >
        <a
            class="link-hover link pl-4 text-lg underline decoration-neutral/50 underline-offset-4"
            >Situacion Fiscal</a
        >
        <a
            class="link-hover link pl-4 text-lg underline decoration-neutral/50 underline-offset-4"
            >Terminos de uso</a
        >
        <a
            class="link-hover link pl-4 text-lg underline decoration-neutral/50 underline-offset-4"
            >Terminos de Privacidad</a
        >
    </nav>
</footer>
