---
import { GoogleFontsOptimizer } from 'astro-google-fonts-optimizer'
interface Props {
    title: string
}
import { Image } from 'astro:assets'
import { SEO } from 'astro-seo'
import HermesLogo from '../assets/Hermes_Logo_2024.svg'
const { title } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon-hermes.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <SEO
            title="Hermes - Agencia web digital"
            description="A heavily optimized description full of well-researched keywords."
            openGraph={{
                basic: {
                    title: 'Hermes - Agencia web digital',
                    type: 'website',
                    image: 'https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png',
                },
                optional: {
                    description:
                        'Hermes,Una Agencia Web Entrerriana dedicada a crear paginas modernas e inovadoras.',
                },
            }}
        />
        <GoogleFontsOptimizer
            url="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap"
        />
    </head>
    <body class="h-full min-h-screen bg-[#09090B]">
        <!-- Start Pre Loader -->
        <div
            id="loader-container"
            class="fixed z-50 flex h-full w-full items-center justify-center bg-[radial-gradient(88.82%_174.7%_at_11.18%_10.48%,_#F1F5F9_0%,_#FFEDD5_100%)]"
        >
            <!-- Mobile SVG -->
            <svg
                id="preloader"
                width="309"
                height="229"
                viewBox="0 0 816 292"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="md:hidden"
            >
                <path
                    id="text"
                    d="M132.712 228.77V87.3883H160.988V146.234H214.293V87.3883H242.76V228.77H214.293V171.644H160.988V228.77H132.712ZM308.889 229.725C297.553 229.725 288.51 228.26 281.759 225.331C275.009 222.274 270.105 216.924 267.048 209.282C264.118 201.64 262.654 191.068 262.654 177.567C262.654 163.683 264.055 152.92 266.857 145.278C269.659 137.636 274.372 132.286 280.995 129.23C287.618 126.173 296.598 124.644 307.934 124.644C318.124 124.644 326.275 125.663 332.389 127.701C338.503 129.739 342.897 133.305 345.572 138.4C348.374 143.495 349.775 150.691 349.775 159.99C349.775 166.868 348.374 172.345 345.572 176.42C342.897 180.369 339.076 183.235 334.109 185.018C329.141 186.674 323.282 187.502 316.531 187.502H290.739C290.994 192.724 291.758 196.927 293.032 200.111C294.433 203.168 296.916 205.397 300.483 206.798C304.176 208.072 309.462 208.709 316.34 208.709H346.336V225.331C341.369 226.35 335.892 227.369 329.905 228.388C324.046 229.279 317.041 229.725 308.889 229.725ZM290.357 170.689H313.666C317.487 170.689 320.289 169.924 322.072 168.396C323.855 166.868 324.747 164.129 324.747 160.181C324.747 156.487 324.174 153.557 323.027 151.392C321.881 149.099 320.098 147.507 317.678 146.616C315.258 145.597 312.01 145.087 307.934 145.087C303.603 145.087 300.164 145.851 297.617 147.38C295.069 148.781 293.223 151.328 292.076 155.022C290.93 158.716 290.357 163.938 290.357 170.689ZM368.328 228.77V126.173H390.109L396.605 141.839C400.299 137.127 404.438 133.114 409.023 129.803C413.736 126.491 419.277 124.835 425.645 124.835C427.046 124.835 428.447 124.899 429.849 125.026C431.377 125.154 432.778 125.408 434.052 125.791V154.831C432.141 154.576 430.103 154.385 427.938 154.258C425.9 154.003 423.926 153.876 422.015 153.876C418.321 153.876 414.946 154.322 411.889 155.213C408.96 155.977 406.221 157.187 403.674 158.843C401.254 160.372 398.897 162.41 396.605 164.957V228.77H368.328ZM449.117 228.77V126.173H472.426L477.393 136.681C481.851 133.369 486.691 130.503 491.913 128.083C497.263 125.663 503.823 124.453 511.592 124.453C518.088 124.453 523.438 125.791 527.641 128.465C531.971 131.14 535.219 134.643 537.385 138.973C540.314 136.681 543.69 134.452 547.511 132.286C551.459 130.121 555.662 128.274 560.12 126.746C564.578 125.217 568.973 124.453 573.303 124.453C581.582 124.453 588.078 126.045 592.791 129.23C597.631 132.286 601.006 136.681 602.917 142.412C604.827 148.017 605.783 154.64 605.783 162.282V228.77H577.506V164.766C577.506 161.454 576.87 158.716 575.596 156.551C574.45 154.385 572.794 152.729 570.628 151.583C568.463 150.437 565.852 149.864 562.795 149.864C558.974 149.864 555.089 150.691 551.141 152.347C547.32 153.876 543.881 155.723 540.824 157.888C541.078 159.162 541.269 160.435 541.397 161.709C541.524 162.855 541.588 164.065 541.588 165.339V228.77H513.312V164.766C513.312 161.454 512.675 158.716 511.401 156.551C510.255 154.385 508.599 152.729 506.434 151.583C504.268 150.437 501.657 149.864 498.6 149.864C495.926 149.864 493.314 150.182 490.767 150.819C488.347 151.456 485.991 152.347 483.698 153.494C481.533 154.64 479.431 155.977 477.393 157.506V228.77H449.117ZM670.104 229.725C658.768 229.725 649.725 228.26 642.974 225.331C636.224 222.274 631.32 216.924 628.263 209.282C625.334 201.64 623.869 191.068 623.869 177.567C623.869 163.683 625.27 152.92 628.072 145.278C630.874 137.636 635.587 132.286 642.21 129.23C648.834 126.173 657.813 124.644 669.149 124.644C679.339 124.644 687.491 125.663 693.604 127.701C699.718 129.739 704.112 133.305 706.787 138.4C709.589 143.495 710.99 150.691 710.99 159.99C710.99 166.868 709.589 172.345 706.787 176.42C704.112 180.369 700.291 183.235 695.324 185.018C690.356 186.674 684.497 187.502 677.747 187.502H651.954C652.209 192.724 652.973 196.927 654.247 200.111C655.648 203.168 658.132 205.397 661.698 206.798C665.392 208.072 670.678 208.709 677.556 208.709H707.551V225.331C702.584 226.35 697.107 227.369 691.121 228.388C685.262 229.279 678.256 229.725 670.104 229.725ZM651.572 170.689H674.881C678.702 170.689 681.504 169.924 683.287 168.396C685.07 166.868 685.962 164.129 685.962 160.181C685.962 156.487 685.389 153.557 684.243 151.392C683.096 149.099 681.313 147.507 678.893 146.616C676.473 145.597 673.225 145.087 669.149 145.087C664.819 145.087 661.38 145.851 658.832 147.38C656.285 148.781 654.438 151.328 653.292 155.022C652.145 158.716 651.572 163.938 651.572 170.689ZM766.8 229.916C763.615 229.916 760.176 229.789 756.483 229.534C752.789 229.407 749.095 229.152 745.401 228.77C741.708 228.388 738.269 227.942 735.084 227.432C731.9 226.795 729.225 226.095 727.06 225.331V208.709H772.531C775.206 208.709 777.371 208.518 779.027 208.136C780.81 207.626 782.084 206.798 782.848 205.652C783.74 204.378 784.186 202.595 784.186 200.302V197.054C784.186 194.507 783.358 192.533 781.702 191.132C780.046 189.731 776.989 189.03 772.531 189.03H756.483C750.624 189.03 745.338 188.138 740.625 186.355C735.912 184.572 732.155 181.643 729.353 177.567C726.678 173.491 725.34 168.014 725.34 161.136V155.213C725.34 148.717 726.614 143.24 729.162 138.782C731.709 134.324 735.976 130.949 741.962 128.656C747.949 126.364 756.164 125.217 766.609 125.217C770.812 125.217 775.27 125.472 779.982 125.982C784.823 126.364 789.344 126.937 793.547 127.701C797.878 128.338 801.317 129.102 803.864 129.994V146.616H760.877C757.183 146.616 754.381 147.252 752.47 148.526C750.56 149.673 749.605 151.902 749.605 155.213V158.27C749.605 160.563 750.05 162.282 750.942 163.429C751.834 164.448 753.171 165.212 754.954 165.721C756.865 166.103 759.221 166.294 762.023 166.294H778.454C788.898 166.294 796.477 168.714 801.19 173.555C806.03 178.267 808.45 184.827 808.45 193.233V202.404C808.45 209.282 806.794 214.759 803.482 218.835C800.298 222.783 795.585 225.649 789.344 227.432C783.23 229.088 775.716 229.916 766.8 229.916Z"
                    fill="#09090B"
                    class="opacity-0"></path>
                <path
                    id="wing"
                    d="M83.8078 233.822C84.4304 232.674 89.4426 224.29 94.9462 215.192C100.45 206.093 105.82 196.82 106.879 194.583C107.937 192.346 109.319 189.877 109.95 189.095C111.032 187.754 111.241 187.699 113.649 188.132C115.053 188.384 117.755 189.325 119.653 190.222L123.104 191.853L123.573 198.86C124.304 209.799 123.859 212.109 120.277 215.978C117.784 218.672 104.456 227.846 98.3044 231.103C94.0723 233.343 86.2317 235.933 83.7325 235.916C82.7258 235.91 82.7284 235.813 83.8078 233.822ZM60.4087 210.538C60.7278 210.22 66.2468 204.087 72.6727 196.91C79.0989 189.733 85.0209 183.408 85.8328 182.856C88.5655 180.997 91.7037 181.492 102.288 185.453L104.147 186.149L102.531 188.482C92.3756 203.154 77.6729 212.314 64.9743 211.878C60.5443 211.726 59.5191 211.425 60.4087 210.538ZM50.7288 185.807C59.5838 178.907 63.217 177.282 69.3638 177.471C72.4064 177.565 78.8771 178.846 79.0366 179.387C79.1845 179.89 76.4313 182.414 73.441 184.516C68.0736 188.29 61.6601 190.632 55.4447 191.088C52.1479 191.33 47.1408 190.885 45.9699 190.246C45.5855 190.036 47.0253 188.693 50.7288 185.807ZM50.2535 161.123C46.4507 158.146 41.371 153.033 36.7271 147.508C32.7298 142.753 23.4827 129.739 21.5294 126.12C20.0168 123.318 18.7374 122.902 32.5848 129.717C38.2315 132.496 46.6627 136.631 51.3207 138.905C93.4455 159.474 114.691 169.933 117.849 171.657C122.712 174.312 123.24 175.203 123.333 180.907C123.402 185.126 123.39 185.178 122.361 184.984C118.862 184.327 58.4532 165.973 56.1323 164.863C54.5732 164.116 51.9278 162.434 50.2535 161.123ZM42.2013 123.728C32.1257 114.191 20.4163 93.8888 11.8552 71.1119C10.3989 67.2377 10.1009 65.9713 10.6969 66.1885C11.4193 66.4518 31.1138 80.7268 98.5445 129.864C122.914 147.622 122.786 147.509 123.899 152.378C124.24 153.866 124.511 157.556 124.502 160.577C124.487 165.797 124.44 166.056 123.542 165.773C122.354 165.399 51.0073 129.584 47.298 127.5C45.7928 126.654 43.4993 124.957 42.2013 123.728ZM110.795 128.888C103.354 123.467 83.253 108.857 66.1258 96.4218C30.6753 70.6845 33.2139 72.8821 26.4036 62.0273C15.7506 45.0471 4.32058 19.32 0.840386 4.48846C0.269568 2.05581 -0.0981782 0.0360452 0.023153 4.92251e-05C0.144496 -0.0359108 21.0975 19.6349 46.5853 43.713C128.94 121.513 120.246 113.114 122.284 116.839C124.129 120.208 124.97 124.638 125.106 131.692C125.231 138.164 125.152 139.351 124.625 138.965C124.46 138.845 118.236 134.31 110.795 128.888Z"
                    fill="#09090B"
                    class="opacity-0"></path>
            </svg>
            <!-- After md SVG -->
            <svg
                id="preloader"
                width="442"
                height="323.7"
                viewBox="0 0 816 292"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="hidden md:block"
            >
                <path
                    id="text"
                    d="M132.712 228.77V87.3883H160.988V146.234H214.293V87.3883H242.76V228.77H214.293V171.644H160.988V228.77H132.712ZM308.889 229.725C297.553 229.725 288.51 228.26 281.759 225.331C275.009 222.274 270.105 216.924 267.048 209.282C264.118 201.64 262.654 191.068 262.654 177.567C262.654 163.683 264.055 152.92 266.857 145.278C269.659 137.636 274.372 132.286 280.995 129.23C287.618 126.173 296.598 124.644 307.934 124.644C318.124 124.644 326.275 125.663 332.389 127.701C338.503 129.739 342.897 133.305 345.572 138.4C348.374 143.495 349.775 150.691 349.775 159.99C349.775 166.868 348.374 172.345 345.572 176.42C342.897 180.369 339.076 183.235 334.109 185.018C329.141 186.674 323.282 187.502 316.531 187.502H290.739C290.994 192.724 291.758 196.927 293.032 200.111C294.433 203.168 296.916 205.397 300.483 206.798C304.176 208.072 309.462 208.709 316.34 208.709H346.336V225.331C341.369 226.35 335.892 227.369 329.905 228.388C324.046 229.279 317.041 229.725 308.889 229.725ZM290.357 170.689H313.666C317.487 170.689 320.289 169.924 322.072 168.396C323.855 166.868 324.747 164.129 324.747 160.181C324.747 156.487 324.174 153.557 323.027 151.392C321.881 149.099 320.098 147.507 317.678 146.616C315.258 145.597 312.01 145.087 307.934 145.087C303.603 145.087 300.164 145.851 297.617 147.38C295.069 148.781 293.223 151.328 292.076 155.022C290.93 158.716 290.357 163.938 290.357 170.689ZM368.328 228.77V126.173H390.109L396.605 141.839C400.299 137.127 404.438 133.114 409.023 129.803C413.736 126.491 419.277 124.835 425.645 124.835C427.046 124.835 428.447 124.899 429.849 125.026C431.377 125.154 432.778 125.408 434.052 125.791V154.831C432.141 154.576 430.103 154.385 427.938 154.258C425.9 154.003 423.926 153.876 422.015 153.876C418.321 153.876 414.946 154.322 411.889 155.213C408.96 155.977 406.221 157.187 403.674 158.843C401.254 160.372 398.897 162.41 396.605 164.957V228.77H368.328ZM449.117 228.77V126.173H472.426L477.393 136.681C481.851 133.369 486.691 130.503 491.913 128.083C497.263 125.663 503.823 124.453 511.592 124.453C518.088 124.453 523.438 125.791 527.641 128.465C531.971 131.14 535.219 134.643 537.385 138.973C540.314 136.681 543.69 134.452 547.511 132.286C551.459 130.121 555.662 128.274 560.12 126.746C564.578 125.217 568.973 124.453 573.303 124.453C581.582 124.453 588.078 126.045 592.791 129.23C597.631 132.286 601.006 136.681 602.917 142.412C604.827 148.017 605.783 154.64 605.783 162.282V228.77H577.506V164.766C577.506 161.454 576.87 158.716 575.596 156.551C574.45 154.385 572.794 152.729 570.628 151.583C568.463 150.437 565.852 149.864 562.795 149.864C558.974 149.864 555.089 150.691 551.141 152.347C547.32 153.876 543.881 155.723 540.824 157.888C541.078 159.162 541.269 160.435 541.397 161.709C541.524 162.855 541.588 164.065 541.588 165.339V228.77H513.312V164.766C513.312 161.454 512.675 158.716 511.401 156.551C510.255 154.385 508.599 152.729 506.434 151.583C504.268 150.437 501.657 149.864 498.6 149.864C495.926 149.864 493.314 150.182 490.767 150.819C488.347 151.456 485.991 152.347 483.698 153.494C481.533 154.64 479.431 155.977 477.393 157.506V228.77H449.117ZM670.104 229.725C658.768 229.725 649.725 228.26 642.974 225.331C636.224 222.274 631.32 216.924 628.263 209.282C625.334 201.64 623.869 191.068 623.869 177.567C623.869 163.683 625.27 152.92 628.072 145.278C630.874 137.636 635.587 132.286 642.21 129.23C648.834 126.173 657.813 124.644 669.149 124.644C679.339 124.644 687.491 125.663 693.604 127.701C699.718 129.739 704.112 133.305 706.787 138.4C709.589 143.495 710.99 150.691 710.99 159.99C710.99 166.868 709.589 172.345 706.787 176.42C704.112 180.369 700.291 183.235 695.324 185.018C690.356 186.674 684.497 187.502 677.747 187.502H651.954C652.209 192.724 652.973 196.927 654.247 200.111C655.648 203.168 658.132 205.397 661.698 206.798C665.392 208.072 670.678 208.709 677.556 208.709H707.551V225.331C702.584 226.35 697.107 227.369 691.121 228.388C685.262 229.279 678.256 229.725 670.104 229.725ZM651.572 170.689H674.881C678.702 170.689 681.504 169.924 683.287 168.396C685.07 166.868 685.962 164.129 685.962 160.181C685.962 156.487 685.389 153.557 684.243 151.392C683.096 149.099 681.313 147.507 678.893 146.616C676.473 145.597 673.225 145.087 669.149 145.087C664.819 145.087 661.38 145.851 658.832 147.38C656.285 148.781 654.438 151.328 653.292 155.022C652.145 158.716 651.572 163.938 651.572 170.689ZM766.8 229.916C763.615 229.916 760.176 229.789 756.483 229.534C752.789 229.407 749.095 229.152 745.401 228.77C741.708 228.388 738.269 227.942 735.084 227.432C731.9 226.795 729.225 226.095 727.06 225.331V208.709H772.531C775.206 208.709 777.371 208.518 779.027 208.136C780.81 207.626 782.084 206.798 782.848 205.652C783.74 204.378 784.186 202.595 784.186 200.302V197.054C784.186 194.507 783.358 192.533 781.702 191.132C780.046 189.731 776.989 189.03 772.531 189.03H756.483C750.624 189.03 745.338 188.138 740.625 186.355C735.912 184.572 732.155 181.643 729.353 177.567C726.678 173.491 725.34 168.014 725.34 161.136V155.213C725.34 148.717 726.614 143.24 729.162 138.782C731.709 134.324 735.976 130.949 741.962 128.656C747.949 126.364 756.164 125.217 766.609 125.217C770.812 125.217 775.27 125.472 779.982 125.982C784.823 126.364 789.344 126.937 793.547 127.701C797.878 128.338 801.317 129.102 803.864 129.994V146.616H760.877C757.183 146.616 754.381 147.252 752.47 148.526C750.56 149.673 749.605 151.902 749.605 155.213V158.27C749.605 160.563 750.05 162.282 750.942 163.429C751.834 164.448 753.171 165.212 754.954 165.721C756.865 166.103 759.221 166.294 762.023 166.294H778.454C788.898 166.294 796.477 168.714 801.19 173.555C806.03 178.267 808.45 184.827 808.45 193.233V202.404C808.45 209.282 806.794 214.759 803.482 218.835C800.298 222.783 795.585 225.649 789.344 227.432C783.23 229.088 775.716 229.916 766.8 229.916Z"
                    fill="#09090B"
                    class="opacity-0"></path>
                <path
                    id="wing"
                    d="M83.8078 233.822C84.4304 232.674 89.4426 224.29 94.9462 215.192C100.45 206.093 105.82 196.82 106.879 194.583C107.937 192.346 109.319 189.877 109.95 189.095C111.032 187.754 111.241 187.699 113.649 188.132C115.053 188.384 117.755 189.325 119.653 190.222L123.104 191.853L123.573 198.86C124.304 209.799 123.859 212.109 120.277 215.978C117.784 218.672 104.456 227.846 98.3044 231.103C94.0723 233.343 86.2317 235.933 83.7325 235.916C82.7258 235.91 82.7284 235.813 83.8078 233.822ZM60.4087 210.538C60.7278 210.22 66.2468 204.087 72.6727 196.91C79.0989 189.733 85.0209 183.408 85.8328 182.856C88.5655 180.997 91.7037 181.492 102.288 185.453L104.147 186.149L102.531 188.482C92.3756 203.154 77.6729 212.314 64.9743 211.878C60.5443 211.726 59.5191 211.425 60.4087 210.538ZM50.7288 185.807C59.5838 178.907 63.217 177.282 69.3638 177.471C72.4064 177.565 78.8771 178.846 79.0366 179.387C79.1845 179.89 76.4313 182.414 73.441 184.516C68.0736 188.29 61.6601 190.632 55.4447 191.088C52.1479 191.33 47.1408 190.885 45.9699 190.246C45.5855 190.036 47.0253 188.693 50.7288 185.807ZM50.2535 161.123C46.4507 158.146 41.371 153.033 36.7271 147.508C32.7298 142.753 23.4827 129.739 21.5294 126.12C20.0168 123.318 18.7374 122.902 32.5848 129.717C38.2315 132.496 46.6627 136.631 51.3207 138.905C93.4455 159.474 114.691 169.933 117.849 171.657C122.712 174.312 123.24 175.203 123.333 180.907C123.402 185.126 123.39 185.178 122.361 184.984C118.862 184.327 58.4532 165.973 56.1323 164.863C54.5732 164.116 51.9278 162.434 50.2535 161.123ZM42.2013 123.728C32.1257 114.191 20.4163 93.8888 11.8552 71.1119C10.3989 67.2377 10.1009 65.9713 10.6969 66.1885C11.4193 66.4518 31.1138 80.7268 98.5445 129.864C122.914 147.622 122.786 147.509 123.899 152.378C124.24 153.866 124.511 157.556 124.502 160.577C124.487 165.797 124.44 166.056 123.542 165.773C122.354 165.399 51.0073 129.584 47.298 127.5C45.7928 126.654 43.4993 124.957 42.2013 123.728ZM110.795 128.888C103.354 123.467 83.253 108.857 66.1258 96.4218C30.6753 70.6845 33.2139 72.8821 26.4036 62.0273C15.7506 45.0471 4.32058 19.32 0.840386 4.48846C0.269568 2.05581 -0.0981782 0.0360452 0.023153 4.92251e-05C0.144496 -0.0359108 21.0975 19.6349 46.5853 43.713C128.94 121.513 120.246 113.114 122.284 116.839C124.129 120.208 124.97 124.638 125.106 131.692C125.231 138.164 125.152 139.351 124.625 138.965C124.46 138.845 118.236 134.31 110.795 128.888Z"
                    fill="#09090B"
                    class="opacity-0"></path>
            </svg>
        </div>
        <!-- End Pre Loader -->
        <!-- Start page Content -->
        <div class="drawer drawer-end">
            <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content relative flex flex-col">
                <!-- Navbar -->
                <div
                    class="navbar sticky left-0 top-0 z-30 w-full px-4 mix-blend-difference sm:px-8 lg:px-16 xl:px-20"
                >
                    <!-- Navbar Icon -->
                    <div class="z-20 mx-2 h-full flex-1 mix-blend-difference">
                        <Image
                            src={HermesLogo}
                            alt="Large Logo"
                            class="h-12 w-fit"
                        />
                    </div>
                    <div
                        class="flex items-center gap-1 text-neutral-content lg:hidden"
                    >
                        menu
                        <label
                            for="my-drawer-3"
                            aria-label="open sidebar"
                            class="btn btn-square btn-ghost z-20 mix-blend-difference"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                class="inline-block h-12 w-14 stroke-white"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16"></path>
                            </svg>
                        </label>
                    </div>
                    <div class="hidden flex-none lg:block">
                        <ul class="menu menu-horizontal mix-blend-difference">
                            <!-- Navbar menu content here -->
                            <li>
                                <a
                                    href="#Beneficios-de-una-web"
                                    class="text-lg font-bold text-neutral-content"
                                    >La Importancia de una Web</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#sobre-nosotros"
                                    class="text-lg font-bold text-neutral-content"
                                    >Sobre Nosotros</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#servicios"
                                    class="text-lg font-bold text-neutral-content"
                                    >Servicios</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#contacto"
                                    class="text-lg font-bold text-neutral-content"
                                    >Contacto</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- content -->
                <slot />
            </div>
            <div class="drawer-side overflow-hidden">
                <label
                    for="my-drawer-3"
                    aria-label="close sidebar"
                    class="drawer-overlay"></label>
                <ul
                    class="sidebar__menu menu min-h-full w-80 bg-neutral-content px-4 py-20"
                >
                    <!-- Sidebar content here -->
                    <li>
                        <a class="text-lg font-bold text-neutral">Inicio</a>
                    </li>
                    <li>
                        <a
                            href="#Beneficios-de-una-web"
                            class="text-lg font-bold text-neutral"
                            >La importancia de una Pagina Web</a
                        >
                    </li>
                    <li>
                        <a
                            href="#sobre-nosotros"
                            class="text-lg font-bold text-neutral"
                            >Sobre Nosotros</a
                        >
                    </li>
                    <li>
                        <a
                            href="#servicios"
                            class="text-lg font-bold text-neutral"
                            >Nuestros Servicios</a
                        >
                    </li>
                    <li>
                        <a
                            href="#contacto"
                            class="text-lg font-bold text-neutral">Contacto</a
                        >
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Page Content -->
        <style is:global>
            body h1 {
                @apply text-[64px] md:text-[86px] xl:text-8xl;
            }
            body h2 {
                @apply text-[54px] md:text-[64px];
            }

            body h3 {
                @apply text-[45px] md:text-5xl;
            }
        </style>
        <script>
            //close sidebar on click on any menuLink in mobile and tablet
            const sideBarMenu = document.querySelector('.sidebar__menu')
            const menuToggleCheckbox = document.getElementById('my-drawer-3')
            const sideBarMenuLinks = sideBarMenu.querySelectorAll('li a')
            function closeMenuOnLinkClick() {
                menuToggleCheckbox.checked = false
            }
            sideBarMenuLinks.forEach((link) => {
                if (window.innerWidth < 1023) {
                    link.addEventListener('click', () =>
                        setTimeout(() => closeMenuOnLinkClick(), 100)
                    )
                }
            })
        </script>
        <script src="../scripts/baseConfig.js"></script>
        <script src="../scripts/whyAWebAnimations.js"></script>
        <script src="../scripts/aboutUs.js"></script>
        <script src="../scripts/ourServices.js"></script>
        <script src="../scripts/contactUsAnimations.js"></script>
    </body>
</html>
